.header {
display: flex;
justify-content: space-between;
padding: 10px;

  .example-button-container {
    display: flex;
    justify-content: space-evenly;
    min-width: 120px;

    .indicator{
      position: absolute;
      right: 3px;
    }
  }
}
