@import "colors";
.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;

  .right-header-side {
    display: flex;
    justify-content: space-evenly;

    .indicator {
      position: absolute;
      right: 3px;
      color: $dusk-blue;
    }

    .logged-in,
    .logged-out {
      & a,
      & button {
        margin: 0 10px;
      }
    }
  }
}
