<div class="dialog">
  <span class="close-dialog" (click)="closeDialog()">&#10006;</span>

  <h2 mat-dialog-title class="dialog-title">Category form</h2>

  <form [formGroup]="categoryForm" (submit)="addCategory()">
    <div mat-dialog-content class="dialog-content">
      <mat-form-field appearance="outline">
        <mat-label>Enter category name</mat-label>
        <input
          matInput
          placeholder="Enter category name"
          formControlName="categoryName"
          required
        />
      </mat-form-field>
    </div>
    <button
      type="submit"
      class="submit dialog-actions"
      mat-button
      [disabled]="categoryForm.invalid || (isLoading$ | async)"
    >
      Add category
    </button>
  </form>
</div>
