<div class="auth">
  <ng-container *ngIf="isAuthPage">
    <h1>Auth</h1>
    <p class="text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus rerum saepe
      eveniet quidem maiores sequi minus illo ipsum in, debitis eum rem
      doloribus repellendus officia commodi optio nihil accusamus est repellat
      architecto alias.
    </p>
    <div class="to-sign">
      <a mat-raised-button routerLink="/auth/sign-in">Sign in</a>
      <a mat-raised-button routerLink="/auth/sign-up">Sign up</a>
    </div>
  </ng-container>
  <router-outlet></router-outlet>
</div>
