@import "colors";

.admin-page {
  padding: 10px 20px;

  .to-main-btn{
    height: 36px;
    width: 118px;
    margin-top: 10px;
  }

  mat-tab-group {
    margin-bottom: 25px;

    h3 {
      background-color: $bg-yellow;
    }
  }
}
