<div class="admin-page column">
  <div class="row space-between">
  <mat-tab-group
    animationDuration="0ms"
    mat-align-tabs="start"
    (selectedTabChange)="redirectTo($event)"
    [(selectedIndex)]="currentTabIndex"
  >
    <ng-container *ngFor="let tab of tabs">
      <mat-tab [label]="tab | titlecase">
      </mat-tab>
    </ng-container>
  </mat-tab-group>

  <button mat-raised-button class="to-main-btn" (click)="toMainPage()">On the Main</button>
</div>
  <router-outlet></router-outlet>
</div>
