<ng-container *ngIf="categories$ | async as categories">
  <div *ngIf="categories.length > 0; else noCategories">
    <div *ngFor="let category of categories">
      {{category?.name}}
      <span class="delete-item" (click)="removeCategory(category.id)">&#10005;</span>
    </div>
</div>
</ng-container>
<ng-template #noCategories>
  <p>Category list is empty</p>
</ng-template>

<button
  *ngIf="visible"
  mat-mini-fab
  class="add_btn"
  (click)="visible = !visible"
>
  &#65291;
</button>
<ng-container *ngIf="!visible">
  <form [formGroup]="categoryForm" (submit)="addCategory()">
    <mat-form-field appearance="outline">
      <mat-label>Enter category name</mat-label>
      <input
        matInput
        placeholder="Enter category name"
        formControlName="categoryName"
        required
      />
    </mat-form-field>
    <button
      type="submit"
      class="submit"
      mat-button
      [disabled]="categoryForm.invalid || (isLoading$ | async)"
    >
      Add category
    </button>
  </form>
</ng-container>

<router-outlet></router-outlet>
