<ng-container *ngIf="categories$ | async as categories">
  <div class="table-wrap" *ngIf="categories.length > 0; else noCategories">
    <table mat-table [dataSource]="categories" aria-describedby="category-table">
      <!-- Name Column -->
      <ng-container matColumnDef="categoryName">
        <th mat-header-cell *matHeaderCellDef>Category Name</th>
        <td mat-cell *matCellDef="let category">{{category.name}}</td>
      </ng-container>

      <!-- Created at Column -->
      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef>Created at</th>
        <td mat-cell *matCellDef="let category">{{category.createdAt | date}}</td>
      </ng-container>

      <!-- Category Id Column -->
      <ng-container matColumnDef="categoryId">
        <th mat-header-cell *matHeaderCellDef>Category id</th>
        <td mat-cell *matCellDef="let category">{{category.id}}</td>
      </ng-container>
      
      <!-- More Option Column -->
      <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef class="more-options">More options</th>
        <td mat-cell *matCellDef="let category" class="more-options">
          <button
            mat-icon-button
            [matMenuTriggerFor]="menu"
            aria-label="more-options-button"
          >
            <mat-icon>more_vert</mat-icon>
          </button>

          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <mat-icon>edit</mat-icon>
              <span>Edit Category</span>
            </button>

            <button mat-menu-item>
              <mat-icon>add_shopping_cart</mat-icon>
              <span>Add product to</span>
            </button>

            <button mat-menu-item (click)="removeCategory(category.id)">
              <mat-icon>delete</mat-icon>
              <span>Delete Category</span>
            </button>
          </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="element-row"></tr>
    </table>
  </div>
</ng-container>
<ng-template #noCategories>
  <p>Category list is empty</p>
</ng-template>

<button
  *ngIf="visible"
  mat-mini-fab
  class="add_btn"
  (click)="visible = !visible"
>
  &#65291;
</button>
<ng-container *ngIf="!visible">
  <form [formGroup]="categoryForm" (submit)="addCategory()">
    <mat-form-field appearance="outline">
      <mat-label>Enter category name</mat-label>
      <input
        matInput
        placeholder="Enter category name"
        formControlName="categoryName"
        required
      />
    </mat-form-field>
    <button
      type="submit"
      class="submit"
      mat-button
      [disabled]="categoryForm.invalid || (isLoading$ | async)"
    >
      Add category
    </button>
  </form>
</ng-container>

<router-outlet></router-outlet>
