.sign-in-wrapper {
  width: 40vw;
  min-height: 50vh;
  background-color: aliceblue;
  position: relative;
  text-align: center;
  padding: 15px;
}

.sign-in {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 48px 24px;
}

.close-modal {
  position: absolute;
  top: -17px;
  right: -17px;
  cursor: pointer;
}

#usermane,
#login-email,
#registr-email,
#registr-password,
#login-password,
#confirm-password {
  height: 24px;
  border-radius: 2px;
}

.input-wrap.confirm {
  margin-top: 20px;
}

button {
  margin-top: 15px;
  height: 30px;
}

label {
  text-align: left;
}

h1 {
  margin-top: 0;
}

input.ng-invalid.ng-touched {
  border-color: red;
}

.message {
  position: relative;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.err-message {
  color: red;
  position: absolute;
}

.show-password {
  position: absolute;
  top: 25px;
  right: 10px;
}

.input-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
}
