<div class="sign-in-wrapper">
  <h1>Welcome</h1>
  <p>Please, enter your details to sidn in</p>
  <!-- <div class="close-modal" (click)="closeModal()">&#10006;</div> -->
  <form class="sign-in" [formGroup]="signInForm" (ngSubmit)="signIn()">
    <label for="login-email">Email</label>
    <input
      type="email"
      id="login-email"
      formControlName="email"
      placeholder="example@email.com"
    />
    <div class="message"></div>
    <div class="input-wrap">
      <label for="password">Password</label>
      <input
        type="password"
        id="login-password"
        formControlName="password"
        placeholder="password"
      />
      <img
        src="../../../../assets/icons/showPassword.png"
        alt="showPassword"
        width="16"
        class="show-password"
        appShowPassword
      />
      <div class="message">
        
      </div>
    </div>
    <button
      type="submit"
      [disabled]="signInForm.invalid"
    >
      Sign in
    </button>
  </form>
</div>

