/* You can add global styles to this file, and also import other style files */
@import "./scss/layout-class";
@import "./scss/colors";
@import "./scss/material.scss";
@import "./scss/mat-table.scss";
@import "./scss/mat-button.scss";
@import "./scss/mat-dialog.scss";
@import "./scss/mat-form-field.scss";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
