$bg-yellow: #eeff00;

$white: #ffffff;
$snow: #fffafa;
$mintcream: #f5fffa;

$gray: #808080;
$slategrey: #708090;
$lightslategray: #778899;
$lightgrey: #d3d3d3;
$silver: #c0c0c0;

$steelblue: #4682b4;
$midnightblue: #191970;
$dusk-blue: #225582;
$dusk-blue-hover: #39668e;
$lightsteelblue: #b0c4de;
$aliceblue: #f0f8ff;

$seagreen: #2e8b57;
$teal: #008080;
$turquoise: #40e0d0;

$tomato: #ff6347;
$orangered: #ff4500;
$red: #ff0000;
